.notFoundPage{
    width: 100%;
    height: 700px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-image: url("https://cdn.dribbble.com/users/888330/screenshots/2653750/empty_data_set.png");
}